 # Load Dataset

In [4]:
import pandas as pd 

music_data = pd.read_csv('music.csv')

music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

# Prep Data

In [5]:
# we dont need to clean the data we only split (Input and Output)

#input data 
X = music_data.drop(columns=['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [6]:
# Output Data

Y  =  music_data['genre']
Y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

#  Prediction Model

In [13]:
from sklearn.tree import DecisionTreeClassifier
# we pass in male 21 and female 22

model = DecisionTreeClassifier()
model.fit(X,Y)
predict = model.predict([[21,1],[22,0]])

predict

array(['HipHop', 'Dance'], dtype=object)

# Measuring the accuracy of our model

In [27]:
## in other to do this we need to split our dataset into trainning and testing sets.

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2)

model = DecisionTreeClassifier()
model.fit(X_train, Y_train)
predict = model.predict(X_test)


score  = accuracy_score(Y_test, predict)

score

1.0

# Model persistance

In [29]:
## Here we want to save the prediction model we created 

from sklearn.tree import DecisionTreeClassifier
import joblib

model = DecisionTreeClassifier()
model.fit(X,Y)

joblib.dump(model, 'music_recommender.joblib')

#predict = model.predict([[21,1],[22,0]])

['music_recommender.joblib']